#about {
  margin: 0 auto;
  padding: 10rem 0 7rem 0;
  max-width: 900px;
}

#about__content {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 50px;
}

#about__content > div > p {
  margin-bottom: 1rem;
  font-size: clamp(1.1em, 5vw, 1.2em);
}

ul.about__tech-stack {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  list-style: none;
}

ul.about__tech-stack > li {
  margin: 0.3rem 0;
}

ul.about__tech-stack > li::before {
  content: "►";
  color: var(--main-text-color);
  margin-right: 0.5rem;
}

#about {
  margin: auto 5rem;
  padding: 5rem 0;
}

#about__title {
  display: flex;
  width: 100%;
  white-space: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2rem;
  font-size: clamp(1.2em, 5vw, 1.5em);
}

#about__title::after {
  content: "";
  width: 300px;
  height: 1px;
  margin-left: 1.5rem;
  background: var(--main-text-color);
}

#about__content {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 50px;
}

#about__content > div > p {
  margin-bottom: 1rem;
  font-size: clamp(1.1em, 5vw, 1.2em);
}

.profile-picture__image {
  object-fit: contain;
  width: 300px !important;
  position: relative !important;
  height: unset !important;
  border-radius: 5px;
}

.profile-picture__container {
  position: relative;
  max-width: 300px;
  margin: 0 auto;
}

.profile-picture__wrapper {
  position: relative;
  display: block;
  width: 100%;
}

.profile-picture__wrapper::after {
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  left: 20px;
  z-index: -1;
  width: 100%;
  height: 100%;
  border: 2px solid var(--main-text-color);
  border-radius: 5px;
}

/* 900 - 1200px tablet landscape */
@media (max-width: 75em) {
  #about {
    padding: 5rem 0;
  }
}

/* 600 - 900px tablet portrait */
@media (max-width: 56.25em) {
  #about__title::after {
    width: 200px;
  }
}

/* 0 - 600px phone */
@media (max-width: 37.5em) {
  #about {
    margin: 0;
  }

  #about__content {
    display: block;
  }

  #about__title::after {
    width: 100%;
  }

  .profile-picture__container {
    padding-top: 5rem;
  }

  .profile-picture__image {
    width: 100% !important;
  }
}
