.left {
  position: fixed;
  bottom: 0;
  left: 40px;
  right: auto;
  width: 40px;
}

.container ul {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: 1.4rem;
  position: relative;
}

.container ul>li:not(:last-of-type) {
  margin-bottom: 1.3rem;
}

.container ul>li:last-child {
  margin-bottom: 2rem;
}

.container ul>li i:hover {
  /* transform: translateY(-3px); */
  transition: var(--translate-y-animation);
  color: var(--main-text-color);
}

.container ul::after {
  content: "";
  height: 120px;
  width: 3px;
  background: var(--main-text-color);
}

/* 900 - 1200px tablet landscape */
@media (max-width: 75em) {}

/* 600 - 900px tablet portrait */
@media (max-width: 56.25em) {
  .left {
    display: none;
  }
}

/* 0 - 600px phone */
@media (max-width: 37.5em) {}