.right {
  position: fixed;
  bottom: 0;
  right: 40px;
  left: auto;
  width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container > a {
  writing-mode: vertical-lr;
  -webkit-writing-mode: vertical-lr;
  margin-bottom: 2rem;
  letter-spacing: 1px;
  font-size: 0.9rem;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.container > a:hover {
  transform: translateY(-3px);
  color: var(--main-text-color);
}

.right::after {
  content: "";
  height: 120px;
  width: 3px;
  background: var(--main-text-color);
}

/* 900 - 1200px tablet landscape */
@media (max-width: 75em) {
}

/* 600 - 900px tablet portrait */
@media (max-width: 56.25em) {
  .right {
    display: none;
  }
}

/* 0 - 600px phone */
@media (max-width: 37.5em) {
}
