#footer {
  position: absolute;
  width: 100%;
  height: auto;
  margin-top: 1rem;
  background-color: var(--primary);
  color: var(--light-grey);
  z-index: -1;
}

.copyright {
  text-align: center;
  margin-bottom: 1rem;
}

.icons-container {
  margin-bottom: 1.5rem;
}

/* 900 - 1200px tablet landscape */
@media (max-width: 75em) {}

/* 600 - 900px tablet portrait */
@media (max-width: 56.25em) {
  #footer {
    display: flex;
    flex-direction: column;
  }

  .icons-container {
    align-self: center;
    width: 300px;
    /* border: 5px solid pink; */
  }

  .icons-container>[class*="aside-left_left"] {
    position: relative;
    display: block;
    left: 0;
  }

  .icons-container [class*="aside-left_container"] {
    margin: 0 auto;
  }

  .icons-container [class*="aside-left_container"] ul {
    flex-direction: row;
    justify-content: unset;
    font-size: 1.6rem;
  }

  .icons-container [class*="aside-left_container"] ul::after {
    content: none;
  }

  .icons-container [class*="aside-left_container"] ul>li {
    margin-bottom: 0;
  }

  .icons-container [class*="aside-left_container"] ul>li {
    margin: 0 1.5rem;
  }
}

/* 0 - 600px phone */
@media (max-width: 37.5em) {}