.header {
  position: fixed;
  z-index: 100;
  width: 100vw;
  background: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 0 1rem;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  box-shadow: none;
}

.header__scroll-up {
  position: fixed;
  z-index: 100;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  backdrop-filter: blur(15px);
  box-shadow: 0px 12px 27px -22px #eee;
  background: rgba(0, 0, 0, 0, 0.1);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 50px;
  height: 0px;
  color: var(--main-text-color);
  border: 2px solid var(--main-text-color);
  background: rgba(0, 0, 0, 0);
  font-size: var(--nav-text-size);
}

.logo:hover {
  background: var(--light-green-bg);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  color: #eee;
}

.nav-container a:hover {
  color: var(--main-text-color);
}

ul.nav-items {
  margin: 0;
  padding: 0;
}

ul.nav-items > li {
  list-style: none;
  display: inline-block;
  font-size: var(--nav-text-size);
}

ul.nav-items > li:not(:last-of-type) {
  margin-right: 2rem;
}

#mobile-menu {
  display: none;
}

#mobile-menu-button {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0px;
  color: inherit;
  width: var(--mobile-menu-width);
  height: 24px;
  text-transform: none;
}

.menu-stripes {
  position: absolute;
  z-index: 20;
  top: 50%;
  right: 0;
  height: 3px;
  width: 90%;
  background-color: var(--main-text-color);
  transition: transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
  transform: rotate(0deg);
}

.menu-stripes::before {
  content: "";
  position: absolute;
  z-index: inherit;
  display: block;
  left: auto;
  right: 0px;
  top: -10px;
  opacity: 1;
  height: inherit;
  width: var(--mobile-menu-width);
  background-color: var(--main-text-color);
}

.menu-stripes::after {
  content: "";
  position: absolute;
  z-index: inherit;
  display: block;
  left: auto;
  right: 0px;
  bottom: -10px;
  opacity: 1;
  height: inherit;
  width: 80%;
  background-color: var(--main-text-color);
}

.menu-stripes__open {
  position: absolute;
  z-index: 100;
  top: 50%;
  right: 0;
  height: 3px;
  width: 100%;
  background-color: var(--main-text-color);
  transition: transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
  transform: rotate(225deg);
}

.menu-stripes__open::after {
  content: "";
  position: absolute;
  z-index: inherit;
  display: block;
  left: auto;
  right: 0px;
  bottom: 0px;
  opacity: 1;
  height: inherit;
  width: inherit;
  background-color: var(--main-text-color);
  transform: rotate(-90deg);
}

#mobile-menu > aside {
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  width: 75vw;
  height: 100vh;
  background: #fff;
}

#mobile-menu > aside > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  list-style: none;
  font-size: var(--nav-text-size);
  font-weight: bold;
  color: #000;
}

#mobile-menu > aside > ul > li:not(:last-of-type) {
  margin-bottom: 1.5rem;
}

#mobile-menu > aside > ul > li:last-child {
  margin-top: 1.5rem;
}

/* 900 - 1200px tablet landscape */
@media (max-width: 75em) {
}

/* 600 - 900px tablet portrait */
@media (max-width: 56.25em) {
}

/* 0 - 600px phone */
@media (max-width: 37.5em) {
  .nav-container {
    width: 100%;
    font-size: 0.4rem;
  }

  ul.nav-items {
    display: none;
  }

  ul.nav-items > li {
    font-size: 0.5rem;
  }

  ul.nav-items > li:not(:last-of-type) {
    margin-right: 0.3rem;
  }

  #mobile-menu {
    display: block;
  }
}
