#content {
  width: 100%;
  max-width: 1600px;
  min-height: 100vh;
  padding: 0 150px;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  height: 100vh;
}

#greetings {
  font-size: clamp(14px, 8vw, 16px);
  margin-bottom: 1rem;
}

#name,
#pitch {
  font-size: clamp(2.3rem, 5vw, 2.5rem);
}

#pitch {
  color: var(--main-text-color);
}

#pitch-subtext {
  font-size: 0.85em;
  margin-top: 1rem;
  max-width: 440px;
}

#about__title,
#about__content {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

/* 900 - 1200px tablet landscape */
@media (max-width: 75em) {
}

/* 600 - 900px tablet portrait */
@media (max-width: 56.25em) {
}

/* 0 - 600px phone */
@media (max-width: 37.5em) {
  #content {
    padding: 0 25px;
  }

  #greetings {
    margin-bottom: 1rem;
    border: 1px solid peru;
  }

  #pitch-subtext {
    font-size: 1.2em;
  }

  #about__title,
  #about__content {
    flex-direction: column;
    gap: 50px;
  }
}
