.container {
	padding: 3rem 1.5rem;
}

.self-intro h1 {
	font-size: var(--text-h1);
	line-height: 1;
	font-weight: bold;
	color: #ffffff;
}

.self-intro h2 {
	font-size: var(--text-h4);
	margin-top: 0.625rem;
	font-weight: normal;
	color: #ffffff;
}

.self-intro p {
	font-size: var(--text-lg);
	margin-top: 1.25rem;
	color: rgb(255, 255, 255, 0.5);
}

.nav {
	display: none;
}

.nav > li > a {
	font-weight: 600;
	font-size: var(--text-sm);
	color: #40e940;
}

.social-media-list {
	display: flex;
	flex-direction: row;
	list-style: none;
	margin-top: 1.563rem;
}

.social-media-list li:not(:first-child) {
	margin-left: 1.563rem;
}

.nav > li:not(:last-child)::after {
	content: "|";
	margin-left: 1.563rem;
	width: 2px;
	opacity: 1;
	color: rgba(0, 0, 0, 0.5);
}

.social-media-list a {
	font-size: var(--text-h3);
	color: #ffffff;
	transition: color 0.2s ease;
}

.social-media-list a:hover {
	color: rgba(0, 0, 0, 0.5);
}

.scrollable-section {
	padding: 6rem 0;
}

@media screen and (min-width: 1620px) {
	.self-intro h1 {
		color: #1a1a1a;
	}

	.self-intro h2 {
		color: #1a1a1a;
	}

	.self-intro p {
		color: rgb(0, 0, 0, 0.5);
	}

	.social-media-list a:hover {
		color: rgb(0, 0, 0, 0.5);
	}

	.social-media-list a {
		color: #1a1a1a;
	}

	.social-media-list a:hover {
		color: rgb(0, 0, 0, 0.5);
	}

	.nav > li > a {
		text-shadow: 2px 1px 2px rgb(0, 0, 0, 0.5);
	}

	.nav > li:not(:last-child)::after {
		color: #1a1a1a;
	}
}

@media screen and (min-width: 750px) {
	.container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		max-width: 1280px;
		padding: 0 3rem;
		margin: 0 auto;
		gap: 3rem;
	}

	.nav {
		display: block;
		list-style: none;
		display: flex;
		flex-direction: row;
		margin-top: 4rem;
	}

	.nav > li:not(:first-child) {
		margin-left: 1.563rem;
	}

	.sticky-section {
		position: sticky;
		top: 0;
		width: 48%;
		padding: 6rem 0;
		max-height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		/* align-self: flex-start; */
	}

	.scrollable-section {
		width: 52%;
	}
}
